In [1]:
import pickle
import pandas as pd

In [2]:
df_1 = pickle.load(open('./Data/cleaned_call_for_service_1','rb'))
df_2 = pickle.load(open('./Data/cleaned_call_for_service_2','rb'))
df_3 = pickle.load(open('./Data/cleaned_call_for_service_3','rb'))

In [3]:
call = pd.concat([df_1,df_2,df_3])

In [4]:
import datetime
open_date = datetime.datetime(2016, 5, 20)

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

### Twilight Concert Date

In [6]:
twilight = pd.DataFrame(columns = ['performance','data'])

#### 2010

In [7]:
#July 8
Indie_Rock_1 = datetime.datetime(2010, 7, 8)
#July 15
Classic_80 = datetime.datetime(2010, 7, 15)
#July 22
Reggae = datetime.datetime(2010,7,22)
#July 29
Latin = datetime.datetime(2010,7,29)
# August 5
Dance = datetime.datetime(2010,8,5)
# August 12
Classic = datetime.datetime(2010,8,12)
# August 19
_90_Alt = datetime.datetime(2010,8,19)
# August 26
Indie_Rock_2 = datetime.datetime(2010,8,26)
# September 2
Disco = datetime.datetime(2010,9,2)


twilight_2010 =pd.DataFrame({'performance':["Indie_Rock_1","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic',
                             "_90_Alt",'Indie_Rock_2','Disco'],
                             'date':[Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic,
                              _90_Alt,Indie_Rock_2,Disco]}
                            )

#### 2011

In [8]:
#July 7
Indie_Rock_1 = datetime.datetime(2011, 7, 7)
#July 14
Classic_80 = datetime.datetime(2011, 7, 14)
#July 21
Reggae = datetime.datetime(2011,7,21)
#July 28
Latin = datetime.datetime(2011,7,28)
# August 4
Dance = datetime.datetime(2011,8,4)
# August 11
Classic = datetime.datetime(2011,8,11)
# August 18
_90_Alt = datetime.datetime(2011,8,18)
# August 25
Indie_Rock_2 = datetime.datetime(2011,8,25)
# September 1
Disco = datetime.datetime(2011,9,1)
# September 8
Disco_2 = datetime.datetime(2011,9,8)

twilight_2011 =pd.DataFrame({'performance':["Indie_Rock_1","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic',
                             "_90_Alt",'Indie_Rock_2','Disco','Disco_2'],
                             'date':[Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic,
                              _90_Alt,Indie_Rock_2,Disco,Disco_2]}
                            )

#### 2012

In [9]:
#July 5
Indie_Rock_1 = datetime.datetime(2012, 7, 5)
#July 12
Classic_80 = datetime.datetime(2012, 7, 12)
#July 19
Reggae = datetime.datetime(2012,7,19)
#July 26
Latin = datetime.datetime(2012,7,26)
# August 2
Dance = datetime.datetime(2012,8,2)
# August 9
Classic = datetime.datetime(2012,8, 9)
# August 16
_90_Alt = datetime.datetime(2012,8,16)
# August 23
Indie_Rock_2 = datetime.datetime(2012,8,23)
# August 30
Disco = datetime.datetime(2012,8,30)
# September 6
Disco_2 = datetime.datetime(2012,9,6)

twilight_2012 =pd.DataFrame({'performance':["Indie_Rock_1","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic',
                             "_90_Alt",'Indie_Rock_2','Disco','Disco_2'],
                             'date':[Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic,
                              _90_Alt,Indie_Rock_2,Disco,Disco_2]}
                            )

#### 2013

In [10]:
#July 11
Indie_Rock_1 = datetime.datetime(2013, 7, 11)
#July 18
Classic_80 = datetime.datetime(2013, 7, 18)
#July 25
Reggae = datetime.datetime(2013,7,25)
# August 1
Latin = datetime.datetime(2013,8,1)
# August 8
Dance = datetime.datetime(2013,8, 8)
# August 15
Classic = datetime.datetime(2013, 8, 15)
# August 22
_90_Alt = datetime.datetime(2013,8,22)
# August 29
Indie_Rock_2 = datetime.datetime(2013,8,29)
# September 5
Disco = datetime.datetime(2013,9,5)
# September 9
Disco_2 = datetime.datetime(2013,9,9)

twilight_2013 =pd.DataFrame({'performance':["Indie_Rock_1","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic',
                             "_90_Alt",'Indie_Rock_2','Disco','Disco_2'],
                             'date':[Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic,
                              _90_Alt,Indie_Rock_2,Disco,Disco_2]}
                            )

#### 2014

In [11]:
#July 10
Indie_Rock_1 = datetime.datetime(2014, 7, 10)
#July 17
Classic_80 = datetime.datetime(2014, 7, 17)
#July 24
Reggae = datetime.datetime(2014,7,24)
# July 31
Latin = datetime.datetime(2014, 7, 31)
# August 7
Dance = datetime.datetime(2014, 8, 7)
# August 14
Classic = datetime.datetime(2014, 8, 14)
# August 21
_90_Alt = datetime.datetime(2014,8,21)
# August 28
Indie_Rock_2 = datetime.datetime(2014,8,28)
# September 11
Disco = datetime.datetime(2014,9,11)

twilight_2014 =pd.DataFrame({'performance':["Indie_Rock_1","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic',
                             "_90_Alt",'Indie_Rock_2','Disco'],
                             'date':[Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic,
                              _90_Alt,Indie_Rock_2,Disco]}
                            )

#### 2015

In [12]:
#July 9
Indie_Rock_1 = datetime.datetime(2015, 7, 9)
#July 16
Classic_80 = datetime.datetime(2015, 7, 16)
#July 23
Reggae = datetime.datetime(2015,7,23)
# July 30
Latin = datetime.datetime(2015, 7, 30)
# August 6
Dance = datetime.datetime(2015, 8, 6)
# August 13
Classic = datetime.datetime(2015, 8, 13)
# August 20
_90_Alt = datetime.datetime(2015,8,20)
# August 27
Indie_Rock_2 = datetime.datetime(2015,8,27)
# September 3
Disco = datetime.datetime(2015,9,3)

twilight_2015 =pd.DataFrame({'performance':["Indie_Rock_1","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic',
                             "_90_Alt",'Indie_Rock_2','Disco'],
                             'date':[Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic,
                              _90_Alt,Indie_Rock_2,Disco]}
                            )

#### 2016

In [13]:
#July 14
Indie_Rock_1 = datetime.datetime(2016, 7, 14)
#July 21
Classic_80 = datetime.datetime(2016, 7, 21)
#July 28
Reggae = datetime.datetime(2016,7,28)
# August 4
Latin = datetime.datetime(2016, 8, 4)
# August 11
Dance = datetime.datetime(2016, 8, 11)
# August 18
Classic = datetime.datetime(2016, 8, 18)
# August 25
_90_Alt = datetime.datetime(2016,8,25)
# September 1
Indie_Rock_2 = datetime.datetime(2016,9,1)
# September 8
Disco = datetime.datetime(2016,9,8)

twilight_2016 =pd.DataFrame({'performance':["Indie_Rock_1","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic',
                             "_90_Alt",'Indie_Rock_2','Disco'],
                             'date':[Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic,
                              _90_Alt,Indie_Rock_2,Disco]}
                            )

#### 2017

In [15]:
#June 22
Indie_Rock_0 = datetime.datetime(2017, 6, 22)
#June 29
Indie_Rock_1 = datetime.datetime(2017, 6, 29)
#July 13
Classic_80 = datetime.datetime(2017, 7, 13)
#July 20
Reggae = datetime.datetime(2017,7,27)
# August 3
Latin = datetime.datetime(2017, 8, 3)
# August 10
Dance = datetime.datetime(2017, 8, 10)
# August 17
Classic = datetime.datetime(2017, 8, 17)


twilight_2017 =pd.DataFrame({'performance':["Indie_Rock_1","Indie_Rock_0","Classic_80",'Reggae',
                              'Latin', "Dance",'Classic'],
                             'date':[Indie_Rock_0,Indie_Rock_1,Classic_80,Reggae,
                              Latin,Dance,Classic]}
                            )

In [16]:
twilight = pd.concat([twilight_2010,
                     twilight_2011,
                     twilight_2012,
                     twilight_2013,
                     twilight_2014,
                     twilight_2015,
                     twilight_2016,
                     twilight_2017])

In [21]:
twilight = twilight.reset_index(drop = True)
twilight = twilight.drop(['performance'],axis = 1)

In [24]:
with open('./Data/twilight_date','wb') as f:
    pickle.dump(twilight,f)